:root {
	--page-padding: 1.5rem;
	--page-width: calc(660px + var(--page-padding)*2);
	--mobile-breakpoint: 576px;
}

.container {
	width: min(var(--page-width), 100%);
	padding: 0 var(--page-padding);
	margin: auto;
}
.container-full {
	width: 100%;
	padding: 0 var(--page-padding);
	margin: auto;
}

.row {
	display: flex;
	gap: 1em;
	align-items: flex-start;
	flex-wrap: wrap;
}
	.row.nowrap {
		flex-wrap: nowrap;
	}

@media screen and (width < 708px) {
	:root {
		--page-padding: 1rem;
	}
}